body {
    text-align: center;
    background-color: rgb(223, 215, 207);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: blueviolet;
}

div ul {
    width: 300px;
    text-align: center;
    display: inline;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    list-style-type: none;
}

li:hover {
    font-weight: 700;
}

a:hover {
    font-weight: bold;
}

p {
    padding-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}